@import "mixins";

* {
  box-sizing: border-box;
}

.calendar {
  @include calendar;

  div {
    display: none;
  }

  $lengthMonth: 28, 29, 30, 31;
  @for $i from 1 through 4 {
    &-#{nth($lengthMonth, $i)} div:nth-child(-n + #{nth($lengthMonth, $i)}) {
      @include block;
    }
  }

  @for $i from 1 through 31 {
    & div:nth-child(#{$i})::after {
      content: "#{$i}";
    }
  }

  $weakDays: "mon" 0, "tue" 1, "wed" 2, "thu" 3, "fri" 4, "sat" 5, "sun" 6;

  @each $day, $margin in $weakDays {
    &-#{$day} div:first-child {
      margin-left: #{$margin * 100 + $margin}px;
    }
  }

  div:hover {
    bottom: 20px;
    background-color: #ffbfcb;

    transition: bottom 0.5s ease-in-out;
  }
}
